%% -*- mode: erlang -*-
%%
%% {{ ansible_managed }}
%%
%% ----------------------------------------------------------------------------
%% See /usr/share/doc/rabbitmq-server/rabbitmq.config.example.gz for examples.
%% See http://www.rabbitmq.com/configure.html for details.
%% ----------------------------------------------------------------------------
[
 {rabbit,
  [%%
   %% Set the default AMQP heartbeat delay (in seconds).
   %%
   {heartbeat, 30}
  ]}
].

